<!DOCTYPE html>
<html>
  <head>
    <title>Oooops!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="four-ow-four">
      <h1>404 We're sorry!</h1>
      <p>We couldn't find what you're looking for</p>
    </div>
  </body>
</html>


